---
export interface Props {
	bg: string;
	textColor: string;
	label: string;
	external?: boolean;
	link: string;
	size?: "default" | "large";
}

const {
	bg,
	textColor,
	label,
	external = false,
	link,
	size = "default",
} = Astro.props;
---

<a
  href={link}
  {...(external ? { target: "_blank", rel: "noopener noreferrer" } : {})}
  class={`custom-cursor-target cursor-none relative group w-full ${bg} ${size === "default" ? "px-2 py-4 rounded-full" : "p-[20px] rounded-xl lg:flex-1"} flex justify-center items-center border-1 border-black overflow-hidden`}
>
  <div class={`flex ${size === "default" ? "gap-2" : "gap-5"} z-10 items-center justify-center`}>
    {size === 'default' ? (
      <h4 class={textColor}>{label}</h4>
    ) : (
      <h3 class={textColor}>{label}</h3>
    )}

    <!-- Inline SVG to adjust color -->
    {external && (
      <svg class={textColor} width={size === 'default' ? 24 : 32 } height={size === 'default' ? 24 : 32 } viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11M15 3H21M21 3V9M21 3L10 14" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    )}
  </div>
</a>

<style is:global>
  .custom-cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    mix-blend-mode: exclusion;
    z-index: 50;
    transition: opacity 0.2s ease, transform 0.25s ease;
    width: 32px;
    height: 32px;
  }
  .custom-cursor.hidden {
    opacity: 0;
  }
</style>
